.room_t{
    text-align: center;
    padding-top: 18%;
    padding-bottom: 10%;
    color: rgb(238, 230, 223);
    text-shadow:8px 9px 10px rgba(0, 0, 0, 0.8);
    /* font-weight: 100!important; */
}
.room_t h1{
    font-weight: 700!important;
    padding-bottom: 20px;
    font-size: 45px;
}
.room_cont{
    background-color: rgba(255,255,255,0.7);
    margin-bottom: 50px;
    padding-left: 10%!important;
    padding-right: 10%!important;
    
}
#need{
    font-size: 20px;
}
.room_cont li {
    /* list-style-type: none!important; */
    list-style-type: disc;
    padding: 15px;
    font-size: 120%;
    padding-left: 40px;
    padding-top: 7px;
}
.room_cont{
    padding: 20px;
    padding-bottom: 30px;
}
#room{

    background-image: url("https://img.tt98.com/d/file/tt98/2020041518029950/5e96d808c90e9.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    /* background-size: 100%; */
    padding-bottom: 10%;
}
.image-row {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.image-box {
    /* text-align: center; */
    background-color: rgb(176, 158, 134);
    /* align-items: center; */
    padding-bottom: 2%;
    /* padding-left: 2%; */
    /* position: relative; */
}

/* .image-container {
    
    overflow: hidden;
    height: 200px;
    width: 150px;
    top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.image-container img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: auto;
    object-fit: cover;
} */
.image-box img {
    width: 185px;
    height: 200px;
    object-fit: cover;
    object-position: center;
  }
/* .image-box img {

    height: 200px;
} */

.caption {
    margin-top: 10px;
    padding-left: 2%;
}